---

import Header from "../components/Header.astro";
import HeaderfullImg from "../components/HeroFullImg.astro";
import Navi from "../components/Navi.astro";
import Projects from "../components/Projects.astro";
import About from "../components/About.astro";
import HoverTeaserList from "../components/Archive.astro";
import Hero from "../components/StartHero.astro";

import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import "../style/global.css";
import Slider from "../components/Slider.astro";
import Overview from "../components/Overview.astro";

const overviewSections = [
	{
		title: "Overview",
		content:
			"Trained at a German design agency, I create digital experiences that balance clarity and emotion. My work focuses on translating ideas into intuitive, engaging interfaces that connect with people.",
	},
	{
		title: "Skills",
		content:
			"I specialize in web and UI design — shaping experiences with Astro, HTML, and CSS. My process blends visual storytelling with technical precision to craft designs that feel effortless and intentional.",
	},
	{
		title: "Tools",
		content:
			"Figma, Illustrator, Astro, TailwindCSS, and Adobe After Effects.",
	},
];

---

<Layout>
	<Navi />

	<div class="overflow-hidden mt-9">
		<Hero
			headline="Kim Loreen"
			subheadline="Webdesigner currently based in Germany"
			imageSrc="/images/me-cover.png"
			imageAlt="Hero preview image"
		/>
		<section>
			<Projects />
		</section>
		<section class="pt-[100px] lg:pt-[220px] pb-[60px] lg:pb-[180px]">
			<Overview sections={overviewSections} />
		</section>
	</div>
	<Footer />
</Layout>
