---
import Layout from "../layouts/Layout.astro";
import "../style/global.css";
import Navi from "../components/Navi.astro";
import Footer from "../components/Footer.astro";
import HeroVideo from "../components/Df_herovideo.astro";
import FullImage from "../components/FullImage.astro";

import Facts from "../components/Facts.astro"
const facts = [
  { title: 'Project', subtitle: 'Practice Project - Website design' },
  { title: 'Time', subtitle: '2 Weeks' },
  { title: 'Technologies', subtitle: 'Figma' }
];

import BentoGallery from '../components/BentoGallery.astro';

const galleryImages = [
  '/images/nu-landing-mockup.png',
  '/images/nu-landing-square.png',
  '/images/nu-landing-square-two.png',
  '/images/nu-landing-tall.png'
];
import TextSplit from '../components/TextSplit.astro';
import FeatureList from '../components/Features.astro';



import BentoThree from "../components/BentoThree.astro";
const bentoImages = [
  '/images/nu-mockup-tall.png',
  '/images/nu-mockup-wide.png',
  '/images/nu-mockup-square.png',
  '/images/nu-mockup-square.png',
];

import FullWidthVideo from '../components/Video.astro';
import Projectnav from '../components/Projectnav.astro';

const projects = [
  {
    name: "Bauindustrie Website",
    image: "/images/bau-thumbnail.png",
    href: "/bauindustrie",
  },
  {
    name: "Planora - Travel App",
    image: "/images/planLogo.png",
    href: "/planora",

  },
];
import OffsetImage from "../components/OffsetImage.astro";

---
<Layout>
    <Navi />
    <HeroVideo 
  videoSrc="/videos/nu-hero.mp4"
  headline="Crafting a Gentle, Modern Experience for a Skincare Brand"
/>
<section class="mx-9 xl:mx-[90px] pt-[100px]">
    <Facts facts={facts} />
</section>
<section class="mx-9 xl:mx-[90px] pt-[100px] md:pt-[180px] pb-[60px] lg:pb-[180px]">
   <FullImage src="/images/nu-thumbnail.png" alt="Example project image" />
</section>
<section>
    <OffsetImage 
  leftSrc="/images/nu-mockup-left.png"
  rightSrc="/images/nu-mockup-right.png" 
  leftAlt="Left Image" 
  rightAlt="Right Image" 
/>
</section>
<section class="">
   
   <FullImage src="/images/nu-screens-one.png" alt="Example project image" />
</section>

<section class="mx-9 xl:mx-[90px] pt-[100px] md:pt-[280px]">
    <TextSplit
        title="A Project Rooted in Clarity, Care, and Creativity"
        content="This project was a practice exercise in website design, focusing on creating a clean, modern aesthetic that reflects the gentle nature of the skincare brand. The goal was to design a user-friendly interface that communicates the brand's values of clarity and care, while also showcasing its product range effectively."/>
</section>
     
        
</section> 

<section class="mx-9 xl:mx-[90px] pt-[100px] md:pt-[280px]">
<BentoThree images={bentoImages} />
</section>


<section class="mx-9 xl:mx-[90px] pt-[100px] md:pt-[280px]  pb-[100px]">
    <TextSplit
        title="Crafting a Website That Unites Without Losing Identity"
        content="This project began as a practice exercise, but it quickly became an opportunity to fully explore my creative vision. With complete freedom to make design choices, I experimented with visual direction, layout, and artistic decisions. Through this process, I was able to expand my design thinking, refine my approach to art direction, and discover new ways to communicate ideas visually. "/>

</section> 
<Projectnav projects={projects} />
    <Footer />
</Layout>
