@import "tailwindcss";





/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #94002c #F9F5F3;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 4px;
  }

  *::-webkit-scrollbar-track {
    background: #F9F5F3;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #94002c;
    border-radius: 0px;
    border: none;
  }

body {
  padding: 0;
  font-family: "Instrument Sans", Arial, sans-serif;
  background-color: #F9F5F3;
  color: #212121;
overflow-x: hidden;

}

h1 {
  font-size: 284px;
  color: #B10F37;
  font-family: "Instrument Serif", Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  line-height: 1.2;

    @media screen and (max-width: 1556px) {
        font-size: 180px;   
    }

    @media screen and (max-width: 968px) {
    font-size: 120px;
    }

    @media screen and (max-width: 650px) {
        font-size: 80px;
    }

    @media screen and (max-width: 450px) {
        font-size: 50px;
    }
}
#hero-headline {
  font-size: 18vw;
  color: #B10F37;
  font-family: "Instrument Serif", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin: 0px;
  overflow: hidden;

    @media screen and (max-width: 768px) {
        font-size: 100px;
    }
    @media screen and (max-width: 450px) {
        font-size: 80px;
    }
}
.aboutHeadline {
    font-size: clamp(80px, 0.5rem + 3vw, 160px);
  
  color: #B10F37;
  font-family: "Instrument Serif", Arial, sans-serif;
  font-weight: 400;
  line-height: 1;
  text-align: left!important;


}
.archiveHeadline {
  font-size: 100px;
  color: #B10F37;
  font-family: "Instrument Serif", Arial, sans-serif;
  font-weight: 400;
  line-height: 1;
  text-align: left!important;
  margin-left: 0!important;
    @media screen and (max-width: 1068px) {
        font-size: 80px;
    }
    @media screen and (max-width: 768px) {
        font-size: 75px;
    }
}
.subhero-headine{
  font-size: 100px;
  color: #F9F5F3;
  font-family: "Instrument Serif", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 90px;
  margin-right: 90px;
  text-align: center;

    @media screen and (max-width: 768px) {
        font-size: 55px;
    }
}
#hero-subheadline {
  font-size: 16px;
  color: #9D9D9D;
  font-family: "Instrument Sans", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;

  @media screen and (max-width: 768px) {
    font-size: 14px;
    
  }

}
h2 {
 font-size: clamp(55px, 1rem + 2vw, 100px);
  color: #F9F5F3;
  font-family: "Instrument Serif", Arial, sans-serif;
  font-weight: 400;
  line-height: 1;


  
}
.h2 {
  color:#B10F37 !important
}
h3, .h3 {
  font-size: clamp(32px, 1rem + 2vw, 65px);
  color: #B10F37;
  font-family: "Instrument Serif", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;


}

p {
  font-size: clamp(.5rem, 0.5rem + 2vw, 1.25rem);
  color: #212121;
  font-family: "Instrument Sans" or "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;

}

.span-headline {
  font-size: 12px;
  color: #B10F37;
  font-family: "Instrument Sans", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;

  @media screen and (max-width: 768px) {
    font-size: 12px;
    
  }
}


.nav-list {
  font-size: 18px;
  font-family: "Instrument Sans", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;

    @media screen and (max-width: 768px) {
        font-size: 16px;
    }
    @media screen and (max-width: 450px) {
        font-size: 14px;
        
    }
}

.abouttext {
  font-size: clamp(18px, 1rem + 1vw, 36px);
  color: #9D9D9D;
  font-family: "Instrument Sans", Arial, sans-serif;
  font-weight: 800;
  line-height: 1.5;

    & span { 
        &.aboutspan {
            font-size: clamp(18px, 1rem + 1vw, 36px) !important;
            font-family: "Instrument Sans", Arial, sans-serif;
            font-weight: 800;
            line-height: 1.5;
            color: #212121!important;
                
        }
    }
   
}
.overviewheadline {
     font-size: clamp(12px, 1rem + 1vw, 16px);
  color: #9D9D9D;
  font-family: "Instrument Sans", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}

.overviewtext {
   font-size: clamp(16px, 1rem + 1vw, 18px);
  color: #212121;
  font-family: "Instrument Sans", Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}


.hover-item {
   font-size: 34px;

   @media screen and (max-width: 768px) {
        font-size: 20px;
    }
    
   }

   .footer-number {
    font-size: 24px;
    color: #F9F5F3;
    font-family: "Instrument Serif", Arial, sans-serif;
    font-weight: 400;

    @media screen and (max-width: 768px) {
        font-size: 28px;
    }
   }

   .footer-title {
    font-size: 24px;
    color: #F9F5F3;
    font-family: "Instrument Sans", Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;

    @media screen and (max-width: 768px) {
        font-size: 16px;
    }
   }
   
   .footer-links {
    font-size: 18px;
    color: #F9F5F3;
    font-family: "Instrument Sans", Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;

    @media screen and (max-width: 768px) {
        font-size: 16px;
    }
   }
   .nametag {
    font-size: 284px;
    color: #f9f5f3;
    font-family: "Instrument Serif", Arial, sans-serif;
    font-weight: 400;
    line-height: 1.2;
    margin: 0px;

    @media screen and (max-width: 1556px) {
        font-size: 180px;   
    }

    @media screen and (max-width: 968px) {
    font-size: 120px;
    }

    @media screen and (max-width: 650px) {
        font-size: 75px;
    }

    @media screen and (max-width: 450px) {
        font-size: 45px;
    }
   }
   .footer-desc{
    font-size: 18px;
    color: #F9F5F3;
    font-family: "Instrument Sans", Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-align: start;
    padding-right: 16px;
    @media screen and (max-width: 768px) {
        font-size: 16px;
    }
   }
   .footer-text {
    font-size: 14px;
    color: #212121;
    font-family: "Instrument Sans", Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;

    @media screen and (max-width: 768px) {
        font-size: 16px;
    }
   }
   .facts{
    font-size: 24px;


    @media screen and (max-width: 768px) {
        font-size: 14px;
    }
   }
   .subheadline {
    font-size: 16px;
    color: #B10F37;
    font-family: "Instrument Sans", Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;


   }

   .Fact-title {
    font-size: 74px;
    color: #B10F37;
    font-family: "Instrument Sans", Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;

    @media screen and (max-width: 1068px) {
        font-size: 54px;
    }
 
   }

   .fact-subtitle {
   font-size: clamp(14px, 0.5rem + 1vw, 1.25rem);
    color: #212121;
    font-family: "Instrument Sans", Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;


   }

   @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-in {
    opacity: 0;
    animation: fadeIn 0.6s ease-out forwards;
  }
  @keyframes fadeIn-header-text {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-in-header-text {
    opacity: 0;
    animation: fadeIn 0.8s ease-out forwards;
  }

  .font-change {
    font-family: "Instrument Sans", Arial, sans-serif;
    font-size: 44px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    
    &:hover {
      font-family: "Instrument Serif", Arial, sans-serif;
      font-size: 44px;
      @media screen and (max-width: 768px) {
        font-size: 24px;
        
    }

    }

    @media screen and (max-width: 768px) {
        font-size: 24px;
        
    }
  }

  .projectnac-text {
    font-size: 24px;
    color: #F9F5F3;
    font-family: "Instrument Sans", Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;

    @media screen and (max-width: 768px) {
        font-size: 16px;
    }
  }

  .ripple-container {
  position: relative;
  overflow: hidden;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  background: rgba(177, 15, 55, 0.3); /* your #B10F37 but transparent */
  animation: ripple 600ms linear;
  pointer-events: none;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}