---
---
<div class="">
    <div class=" flex flex-col min-lg:flex-row justify-center gap-5 md:gap-11 items-start ">
        <h2 class="h2">About me</h2>
        <p class="abouttext max-w-[856px]"> Trained at a German design agency, <span class="aboutspan">I bring three years of experience working on a variety of projects.</span> Creating clean, user-friendly designs that make an impact and Crafting seamless digital experiences </p>
    </div>
</div>
