---
interface Fact {
  title: string;
  subtitle: string;
}

interface Props {
  facts: Fact[];
}

const { facts } = Astro.props as Props;
---

<section>
  <div class="fade-up flex flex-wrap min-lg:flex-row ml-[30px] justify-center md:justify-center gap-[20px] md:gap-[70px] xl:gap-[100px] align-items-center">
    {facts.map((fact: Fact) => (
      <div class="flex flex-col gap-4 align-items-center text-center justify-baseline">
        <p class="facts"><strong>{fact.title}</strong></p>
        <p class="fact-subtitle w-[120px] md:max-w-[230px]">{fact.subtitle}</p>
      </div>
    ))}
  </div>
</section>