---
---

<footer >
  <div class="footer-container justify-start items-center bg-[#B10F37]">
    <div class=" px-[90px] flex flex-col min-lg:flex-row gap-20 items-start min-lg:items-start pt-[80px] pb-[250px]">
        <div class="flex flex-row gap-3 align-top pt-3">
            <p class="footer-number">01</p>
            <div class="flex flex-col">
                <p class="footer-title uppercase">Sitemap</p>
                <ul class="footer-links">
                    <li><a href="/" class="hover:underline hover:italic">Home</a></li>
                  <li><a href="/about" class="hover:underline hover:italic">About</a></li>
                  <li><a href="/projects" class="hover:underline hover:italic">Projects</a></li>
                </ul>
            </div>
        </div>
        <div class="flex flex-row gap-3 align-top pt-3">
            <p class="footer-number">02</p>
            <div class="flex flex-col">
                <p class="footer-title uppercase">socials</p>
                <ul class="footer-links">
                    <li><a href="https://www.linkedin.com/in/kim-loreen-kujtkowski-982555377/" class="hover:underline hover:italic">LinkedIn</a></li>
                  <li><a href="mailto:kimloreen@gmail.com.com" class="hover:underline hover:italic">kimloreen@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <div class="flex flex-row gap-3 align-top pt-3">
            <p class="footer-number">03</p>
            <div class="flex flex-col">
                <p class="footer-title uppercase ">Infos</p>
                <ul class="footer-links">
                    <li><a href="/legal-notice" class="hover:underline hover:italic">Legal Notice</a></li>
                  <li><a href="/privacy-policy" class="hover:underline hover:italic">Privacy Policy</a></li>
                </ul>
            </div>
        </div>

        
    </div>
    <div class="flex flex-row gap-1 align-top justify-center items-baseline">
        <h2 class="nametag ">Kim Loreen</h2>
        <p class="footer-desc"> Portfolio 2025</p>
    </div>
  </div>
  <div class="w-full flex justify-end px-6 py-4">
  <p class="footer-text">© 2025 My Portfolio. All rights reserved.</p>
  </div>
</footer>