---
import logo from '../images/ig-posts.png';
---


    <header class=" grid grid-cols-4 min-md:grid-cols-12 align-middle pt-[200px]">  
        
        <div class="min-md:col-span-12 col-span-4 grid min-md:grid-cols-12 grid-cols-4">  
            
            <img src={logo.src} 
            width="187" 
            height="187" 
            alt="Astro Homepage" 
            class=" col-span-1 min-md:col-span-2 " 
            
           />
        <img src={logo.src} 
        width="237" 
        height="237" 
        alt="Astro Homepage" 
        class=" min-md:col-start-10 col-start-3 col-span-2 "
        />
        <div class="col-span-12 flex flex-row text-center items-start justify-center align-top pt-3 ">
            <h1 class=" text-center fadeIn fade-in-header-text" >Kim Loreen</h1>
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 100 116" fill="none">
                <path d="M20.4782 65.9701C7.97803 58.9701 -7.02173 36.9701 6.05358 17.1197C14.1756 4.78922 18.1449 39.6368 20.4782 65.9701C20.8115 40.1368 56.8573 -9.88242 74.0533 3.11959C94.5533 18.6197 44.1449 51.1368 20.4782 65.9701C42.9782 65.4701 107.553 94.6196 97.5533 110.62C89.119 124.115 27.4782 103.97 20.4782 65.9701C20.4782 90.9701 40.5766 121.738 22.0535 110.62C3.47827 99.4701 15.9781 69.9701 20.4782 65.9701Z" fill="#B10F37"/>
                <path d="M20.4782 65.9701C7.97803 58.9701 -7.02173 36.9701 6.05358 17.1197C14.1756 4.78922 18.1449 39.6368 20.4782 65.9701ZM20.4782 65.9701C15.9781 69.9701 3.47827 99.4701 22.0535 110.62C40.5766 121.738 20.4782 90.9701 20.4782 65.9701ZM20.4782 65.9701C20.8115 40.1368 56.8573 -9.88242 74.0533 3.11959C94.5533 18.6197 44.1449 51.1368 20.4782 65.9701ZM20.4782 65.9701C27.4782 103.97 89.119 124.115 97.5533 110.62C107.553 94.6196 42.9782 65.4701 20.4782 65.9701Z" stroke="#B10F37" stroke-width="2"/>
              </svg>
        </div>
       
        <img 
        src={logo.src} 
        width="115" 
        height="48" 
        alt="Astro Homepage" 
        class="col-start-1 col-span-1 min-md:col-span-2"  
        />
        </div>
        <div class="grid col-span-6 pt-16 sm:pr-[130px] ">
            <span class="col-span-5 uppercase tracking-widest">Currently based in Germany</span>
            <p class="col-span-5 items-start ">Convallis sem feugiat scelerisque ultrices vel risus ac volutpat. Elementum maecenas dignissim tortor purus velit faucibus. Elit auctor consectetur id vulputate neque eget laoreet.</p>
        </div>
       
    </header>
 
